RewriteEngine On
RewriteBase /

# Блокиране на достъп до .git директория (security)
RewriteRule ^\.git/ - [F,L]

# Passenger configuration
PassengerAppRoot /home/bghranac/repositories/bgmajstor
PassengerBaseURI /
PassengerPython /home/bghranac/virtualenv/repositories/bgmajstor/3.13/bin/python
PassengerStartupFile passenger_wsgi.py

# WhiteNoise обработва статичните файлове през Django.
<IfModule mod_passenger.c>
    PassengerEnabled on
</IfModule>
