# Пренасочване към public_html за статични файлове
RewriteEngine On
RewriteBase /

# Блокиране на достъп до .git директория (security)
RewriteRule ^\.git/ - [F,L]

# Статични и медия файлове
RewriteRule ^(static|media)/(.*)$ public_html/$1/$2 [L]

# Passenger configuration
PassengerAppRoot /home/bghranac/repositories/bgmajstor
PassengerBaseURI /
PassengerPython /home/bghranac/virtualenv/repositories/bgmajstor/3.13/bin/python
